/*Navbar Animaiton*/
@keyframes rotate45 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes rotate135 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

/* Header Scroll Down Animation */
@keyframes scroll-down {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Loader Fill Animation*/
@keyframes fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
